<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant API</title>
  <link rel="stylesheet" href="./styles.css">
  <script defer src="index.js"></script>
</head>
<body>
  <h1>Welcome to AFoods Restaurant </h1>
  <h2>Place your Order</h2>
  <form action="addMenu" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <input type="number" name="price" placeholder="Price">
    <input type="text" name="image" placeholder="Image Url">
    <input type="submit" value="Create">
  </form>
</body>
</html>
